<ngx-charts-line-chart
  [view] = "view"
  [legend]="true"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi">
</ngx-charts-line-chart>

<ngx-charts-line-chart
  [view] = "view"
  [legend]="false"
  [showXAxisLabel]="showXAxisLabel2"
  [showYAxisLabel]="showYAxisLabel2"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel2"
  [yAxisLabel]="yAxisLabel2"
  [timeline]="timeline"
  [results]="multi2"
  >
</ngx-charts-line-chart>

